<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveBooking</servlet-name>
        <servlet-class>SaveBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBooking</servlet-name>
        <servlet-class>ViewBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBooking</servlet-name>
        <servlet-class>EditBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBooking2</servlet-name>
        <servlet-class>EditBooking2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBooking</servlet-name>
        <servlet-class>DeleteBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveBooking</servlet-name>
        <url-pattern>/SaveBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBooking</servlet-name>
        <url-pattern>/ViewBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBooking</servlet-name>
        <url-pattern>/EditBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBooking2</servlet-name>
        <url-pattern>/EditBooking2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBooking</servlet-name>
        <url-pattern>/DeleteBooking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
